table, td {
    border: 1px solid black;
 }

myTable {
    width: 75vw;
    overflow-y: scroll;
}

td {
    padding: 15px;
    text-align: left;
    max-width: 15vw;
}

tr:nth-child(even) {
    background-color: #f2f2f2;\
}

thead > tr > td {
    font-size: 20;
    font-weight: bold;
    background-color: rgb(165, 163, 163);
}

#mySearchBox {
    position: fixed;
    top: 0px;
    right: 0;
}